.start {
  width: 100vw;
  height: 100vh;
  background-color: #f5f7fb;
}
.start-text {
  position: relative;
  top: 30vh;
  text-align: center;
}

.start-text p {
  margin-bottom: 4rem;
  font-size: 2rem;
}
.start-text h1 {
  margin-bottom: 2rem;
  font-size: 5rem;
}
