.blop-container-top--big {
  width: 17vw;
  position: fixed;
  top: 0;
  right: 0;
}

.blop-container-bottom--big {
  width: 20vw;
  position: fixed;
  bottom: 0;
  left: 0;
}

.blop-container-top--small {
  width: 10vw;
  position: fixed;
  top: 0;
  right: 0;
}

.blop-container-bottom--small {
  width: 10vw;
  position: fixed;
  bottom: 0;
  left: 0;
}
