.btn-container {
  margin-bottom: 1rem;
}

.hero-start-btn {
  cursor: pointer;
  color: white;
  background: #4d5b9e;
  padding: 3rem 9rem;
  font-size: 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.answer-btn {
  cursor: pointer;
  background: white;
  color: #4d5b9e;
  padding: 0.5rem 2rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  font-weight: bold;
}

.answer-btn:hover {
  background: #d6dbf5;
  boder: 1px solif #d6dbf5;
}

.answer-btn-incorrect {
  background: white;
  color: #293264;
  padding: 0.5rem 2rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  border: 1px solid #293264;
  border-radius: 8px;
  font-weight: bold;
  opacity: 0.5;
}

.answer-btn-incorrect-selected {
  background: #f8bcbc;
  color: #293264;
  padding: 0.5rem 2rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  border: 1px solid #f8bcbc;
  border-radius: 8px;
  font-weight: bold;
  opacity: 0.5;
}

.answer-btn-correct {
  background: #94d7a2;
  color: #4d5b9e;
  padding: 0.5rem 2rem;
  margin-right: 1.5rem;
  font-size: 1rem;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  font-weight: bold;
}
